           <div ng-show="user ">
            <div>
                Login ID: {{user.login}}
            </div>
            <br>
            <div>
                Github URL: {{user.url}}
            </div>
            <div>
                Company: {{user.company}}
            </div>
            </div>
            <br>
            <div id="userDetails">
                <img class="img-circle" width="100px " height="100px " ng-src="{{user.avatar_url}} " title="{{user.name}} ">
            </div>
						<br>
						<br>
						Sort By :
						<select ng-model="filterByValue">
								<option value="language">Language</option>
								<option value="name">Name</option>
								<option value="-created_at">Created Date</option>
						</select>
						</div>
						<br>
						<br>
						<div class="container container-table">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>S#</th>
									<th>Repository Name</th>
									<th>language</th>
									<th>Created Date</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="repositoryDetailsData in repositoryDetails|orderBy:filterByValue">
									<td>{{$index}}</td>
									<td>{{repositoryDetailsData.name}}</td>
									<td>{{repositoryDetailsData.language}}</td>
									<td>{{repositoryDetailsData.created_at | date}}</td>
								</tr>
							</tbody>
						</table>
						</div>